name: Build

on:
  push:
    branches: [ "main" ]
  pull_request:

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Java
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: '21'

      - name: Build application
        run: mvn clean package

      - name: Upload JAR
        uses: actions/upload-artifact@v4
        with:
          name: jar-artifact
          path: target/*.jar

  sast:
    runs-on: ubuntu-latest
    needs: build

    steps:
      - uses: actions/checkout@v4

      - name: Install Semgrep
        run: pipx install semgrep

      - name: Run Semgrep
        run: semgrep scan --config auto --sarif --output semgrep.sarif || true

      - name: Upload SARIF
        uses: actions/upload-artifact@v4
        with:
          name: semgrep-report
          path: |
            semgrep.sarif